<%- include('partials/header.ejs') %>
<header>
  <div class="brand">
    <img src="/images/logo.jpg" alt="Logo" class="logo" />
    <h1>AniHabu</h1>
  </div>
  <form action="/search">
    <input type="text" placeholder="Search Anime" name="search" />
    <button class="btn primary-btn">Search</button>
  </form>
</header>
<main>
  <div class="content">
    <div class="content__btns">
      <button class="btn active">Trending</button>
      <button class="btn">Top Rated</button>
      <button class="btn">Most Popular</button>
    </div>
    <hr />
    <div class="content__item show">
      <div class="content__item-heading">
        <h3>Trending</h3>
        <!-- <a href="">View more</a> -->
      </div>
      <% if (locals.trending) { %>
      <div class="content__item-cards">
        <% trending.map(trend => { %>
        <a href="/anime-detail?id=<%= trend.id %>" class="content__item--card">
          <input type="hidden" value="<%= trend.id %>" name="id" />
          <div class="content__item--card-image">
            <img
              src="<%= trend.attributes.posterImage.medium %>"
              alt="Anime image"
            />
            <div class="info">
              <p class="rating"><%= trend.attributes.averageRating %> Rating</p>
            </div>
          </div>
          <div class="content__item--card-details">
            <p class="title"><%= trend.attributes.canonicalTitle %></p>
            <p class="info">
              <small> <%= trend.attributes.subtype %> </small>
              <small><%= trend.attributes.status %></small>
            </p>
          </div>
        </a>
        <% }) %>
      </div>
      <%}%>
    </div>
    <div class="content__item">
      <div class="content__item-heading">
        <h3>Top Rated</h3>
        <form action="/top-rated">
          <button class="btn">view more</button>
        </form>
      </div>
      <% if (locals.topRated) { %>
      <div class="content__item-cards">
        <% topRated.map(rated => { %>
        <a href="/anime-detail?id=<%= rated.id %>" class="content__item--card">
          <div class="content__item--card-image">
            <img
              src="<%= rated.attributes.posterImage.medium %>"
              alt="Anime image"
            />
            <div class="info">
              <p class="rating"><%= rated.attributes.averageRating %> Rating</p>
            </div>
          </div>
          <div class="content__item--card-details">
            <p class="title"><%= rated.attributes.canonicalTitle %></p>
            <p class="info">
              <small> <%= rated.attributes.subtype %> </small>
              <small><%= rated.attributes.status %></small>
            </p>
          </div>
        </a>
        <% }) %>
      </div>
      <% } %>
    </div>
    <div class="content__item">
      <div class="content__item-heading">
        <h3>Most Popular</h3>
        <!-- <a href="">View more</a> -->
      </div>
      <div class="content__item-cards">
        <!-- <div class="content__item--card">
          <div class="content__item--card-image">
            <img src="/images/logo.jpg" alt="Anime image" />
            <div class="info">
              <p class="current__episode">2 EP</p>
              <p class="total__episodes">1021 EPS</p>
            </div>
          </div>
          <div class="content__item--card-details">
            <p class="title">
              One Piece Film: Gold - Cine Mike Popcorn Kokuchi
            </p>
            <p class="info">
              <small>info</small>
            </p>
          </div>
        </div>
        <div class="content__item--card">
          <div class="content__item--card-image">
            <img src="/images/logo.jpg" alt="Anime image" />
            <div class="info">
              <p class="current__episode">2 EP</p>
              <p class="total__episodes">1021 EPS</p>
            </div>
          </div>
          <div class="content__item--card-details">
            <p class="title">
              One Piece Film: Gold - Cine Mike Popcorn Kokuchi
            </p>
            <p class="info">
              <small>info</small>
            </p>
          </div>
        </div>
        <div class="content__item--card">
          <div class="content__item--card-image">
            <img src="/images/logo.jpg" alt="Anime image" />
            <div class="info">
              <p class="current__episode">2 EP</p>
              <p class="total__episodes">1021 EPS</p>
            </div>
          </div>
          <div class="content__item--card-details">
            <p class="title">
              One Piece Film: Gold - Cine Mike Popcorn Kokuchi
            </p>
            <p class="info">
              <small>info</small>
            </p>
          </div>
        </div>
        <div class="content__item--card">
          <div class="content__item--card-image">
            <img src="/images/logo.jpg" alt="Anime image" />
            <div class="info">
              <p class="current__episode">2 EP</p>
              <p class="total__episodes">1021 EPS</p>
            </div>
          </div>
          <div class="content__item--card-details">
            <p class="title">
              One Piece Film: Gold - Cine Mike Popcorn Kokuchi
            </p>
            <p class="info">
              <small>info</small>
            </p>
          </div>
        </div>
        <div class="content__item--card">
          <div class="content__item--card-image">
            <img src="/images/logo.jpg" alt="Anime image" />
            <div class="info">
              <p class="current__episode">2 EP</p>
              <p class="total__episodes">1021 EPS</p>
            </div>
          </div>
          <div class="content__item--card-details">
            <p class="title">
              One Piece Film: Gold - Cine Mike Popcorn Kokuchi
            </p>
            <p class="info">
              <small>info</small>
            </p>
          </div>
        </div> -->
        <h1>Coming soon</h1>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer.ejs') %>
